<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Examenes Online 2022</title>
    <% include partials/head %>
  </head>
  <body>
    <h3>Rita probando ¡Elabore sus exámenes online fácilmente!probando</h3>
  </body>
