<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Examenes Online 2022</title>
    <% include partials/head %>
  </head>
  <body>
<<<<<<< HEAD
    <h3>Git virginia 2021 ¡Elabore sus exámenes online fácilmente!</h3>
=======
    <h3>Rita probando ¡Elabore sus exámenes online fácilmente!probando</h3>
>>>>>>> dcc9b083a550e2db789085911b2f4cedeaf94af0
  </body>
