<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Examenes Online 2022</title>
    <% include partials/head %>
  </head>
  <body>
    <h3>Git probando git Zabala RITA¡Elabore sus exámenes online fácilmente!</h3>
  </body>
