<<<<<<< HEAD
<!DOCTYPE html>
=======
>>>>>>> b1d31021280c2007833dc7e796f75c565721937e
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Examenes Online 2022</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>
    <div class="container p-5">
      <div class="floating-component">
        <div class="pregunta">
          <h3><%=dats%></h3>
          <li class="nav-item">
<<<<<<< HEAD
            <a class="nav-link" href="/error"><p style="color:#000";>Aceptar</p></a>
=======
            <a class="nav-link" href="/errorseccion"><p style="color:#000";>Aceptar</p></a>
>>>>>>> b1d31021280c2007833dc7e796f75c565721937e
          </li>
        </div>
      </div>
    </div>    

    
       
    <% include partials/footer %> 
  </body>
<<<<<<< HEAD
  </html>
=======
  </html>
>>>>>>> b1d31021280c2007833dc7e796f75c565721937e
