<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Examenes Online 2022</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>
    <div class="container p-5">
      <div class="floating-component">
        <div class="pregunta">
          <h3><%=dats%></h3>
          <li class="nav-item">
            <a class="nav-link" href="/errorseccion"><p style="color:#000";>Aceptar</p></a>
          </li>
        </div>
      </div>
    </div>    

    
       
    <% include partials/footer %> 
  </body>
  </html>