<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Examenes Online 2022</title>
    <% include partials/head %>
  </head>
  <body>

    <!-- HEADER -->
    <% include partials/navigation %>

    <!-- MAIN CONTENT -->

    <div class="container">
      <header class="row">
        <div class="col-lg-12 text-center">
          <img src="/img/imagen 2.jpg" class="w-auto animated bounceIn" alt="Website Logo">
        </div>
      </header>
    </div>

    <!-- section one dos -->
    <div class="container-fluid" id="about">
      <div class="row bg-dark text-white p-5 text-center">
        <div class="col-sm-6">
          <h3>¡Elabore sus exámenes online fácilmente!</h3>
      
        </div>
        <div class="col-sm-6">
          <p>
            <span>Seleccione cuantas preguntas por secciones
                   ,si la seccion no existe, tiene la posibilidad de crearla,
                    genere el examen y envie a sus estudiantes. En pocos pasos!</span>
          </p>
        </div>
      </div>
    </div>

    <!-- FOOTER -->
    <% include partials/footer %>

   

  </body>
</html>
