<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Listado preguntas por Secciones</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>
    <script>
      function seleccionada(){
        var seleccionada= document.getElementById("seccion").selectedIndex;
        if(seleccionada==0)
        document.getElementById("text1").value="";
        else
        document.getElementById("text1").value=document.getElementById("seccion").options[seleccionada].value;
        console.log(seleccionada);
      }
      </script>
    <div class="container p-5">
      <div class="row">
              <form name="formlistado" action="">  
              
            <h2>Selecciones la seccion para la cual desea ver las preguntas</h2>
            <select class="floating-select" name="seccion" ide="seccion" onchange="seleccionada();" required>
              <option value="">Elegir Sección</option>
              <%long=(JSON.parse(dataS)).secciones.length;%>  
              <%for (index=0; index<long; index++){%>
                <option value="<%= (JSON.parse(dataS)).secciones[index].nombre;%>"><%= (JSON.parse(dataS)).secciones[index].nombre;%></option>
              <%}%>
             
          </select>
          <h2>Listado de Preguntas por sección:</h2>
              <input type="text" value="" id="text1" name="text1"/>
            <br>
            <br>
            
        </form>
      </div>>
      </div>>       

  </body>

  </html>
