<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Listado preguntas por Secciones</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>
    
    <div class="container p-5">
      <div class="row">
        <div >
          <div >
            <div >
              <h2>Listado de preguntas por secciones hhh</h2>
              <table class="pregseccion">
                <tr>
                  <th class="td"><p>Seccion</p></th>
                  <th class="td"><p>Preguntas</p></th> 
                </tr>
                
              </table>
              <%long=(JSON.parse(dats)).table.length;%>  
              <%for (index=0; index<long; index++){%>
              <tr>
                <td class="td"><p> <%= (JSON.parse(dats)).table[index].seccion;%></p></td>
                <td class="td"><p> <%= (JSON.parse(dats)).table[index].title;%></p></td>
                
               
              </tr>
              <%}%>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include partials/footer %>
  </body>
</html>
